body {
	margin: 15px;
	background-color: 	#8fbc8f;
	font-family: avenir;
	font-weight: lighter;
	font-size: 20px;
}

input {
	padding: 10px;
	font-size: 20px;
}

h1 {
	padding: 20px 0;
}

.results li {
	padding: 15px 0;
	border-bottom: 1px solid grey;
}