/* Fonts */

body {
    font-family: "Lato", Arial, sans-serif;
}

/* Layout */

body {
	padding: 40px;
	max-width: 1000px;
}

/*Header*/

h1{
	color: #F20000;
	font-weight: lighter;
	font-size: 50px;
	padding: 5px 0;
}

.better-dressed {
	font-size: 25px;
	margin: 5px 0;
}

/*Navigation*/

ul {
	display: flex;
	justify-content: flex-start;
}

li {
	padding-right: 20px;
	margin: 10px 0 20px 0;
}
a {
	flex: 1;
}

.navigation a {
	color: #DDDDDD;
	font-size: 23px;
	text-decoration: none;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 3px;
}

/*Blog-Posts*/

.blog-post {
	padding: 0px 0 60px 0;
	position: relative;
	border-bottom: 1px solid #E4E4E4;
	margin: 50px 0;
}

.date {
	color: #DDDDDD;
	font-size: 30px;
}

h2 {
	font-weight: lighter;
	font-size: 40px;
	padding: 10px 0;
}

img {
	width: 100%;
}

.blog-post p {
	margin: 10px 0;
	font-size: 19px;
	line-height: 30px;
}

.drop-cap {
	font-size: 120px;
	color: #DDDDDD;
	float: left;
	margin: 30px 10px 35px 0;
}

.continues {
	position: absolute;
	right: 30px;
	color: #F20000;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}

/*Footer*/

.footer li {
	border-right: 2px solid #E4E4E4;
	padding: 0 5px;
}

.footer li:last-child {
	border-right: none;
}

.footer a {
	font-size: 18px;
	color: #F33A3A;
	text-decoration: none;
}

@media (max-width: 750px) {

ul {
	flex-wrap: wrap;
}
}
