/* Reset */
/* ------------------------ */
* {
	margin: 0;
	padding: 0;	
}

p {
	line-height: 1.5;
	margin-bottom: 15px;
}


/* Layout */
/* ------------------------ */
body {
	background-color: #444444;
	color: #FFFFFF;

	padding: 15px;
	border: 5px solid #878787;
	margin: 30px;
}

header {
	text-align: center;
}

footer {
	text-align: center;
}

.title {
	font-size: 36px;
}

li {
	display: inline;
	font-weight: bold;
}

a {
	color: #23D39E;
}

img {
	float: right;
	padding: 5px;
	border: 1px solid #878787;
	margin-left: 10px;
	margin-bottom: 20px;
}


main {
	border-top: 1px solid #878787;
	border-bottom: 1px solid #878787;
	padding-top: 20px;	
	padding-bottom: 20px;

	/* shorthand */
	padding: 20px 0;
	margin: 20px 0;

	overflow: hidden;
}



/* Headings */
/* ------------------------ */

hi, 
li {
	font-family: Arial;
}

/* Navigation Lists */
/* ------------------------ */



/* Links */
/* ------------------------ */



/* About Me page */
/* ------------------------ */



/* Resume page */
/* ------------------------ */



/* Resume page - Experience */
/* ------------------------ */
